<app-logo></app-logo>

<div class="login-container">

    <h1>Iniciar Sesión</h1>

    <form action="" class="loginForm">

        <label for="email" hidden></label>
        <input type="email" name="email" id="email" placeholder="Correo electrónico">
    
        <label for="password" hidden></label>
        <input type="password" name="password" id="password" placeholder="Contraseña">
    
        <input type="button" value="Iniciar Sesión">
    </form>
    <br>
    <a href="#DCrearCuenta">¿No estás registrado? Create una Cuenta</a>

</div>