<app-logo></app-logo>

<div class="login-container">

    <h1>Iniciar Sesión</h1>

    <form [formGroup]="loginForm" class="loginForm" (ngSubmit)="onSubmit()">

        <label for="email" hidden></label>
        <input type="email" formControlName="email" name="email" id="email" placeholder="Correo electrónico">
    
        <label for="password" hidden></label>
        <input type="password" formControlName="password" name="password" id="password" placeholder="Contraseña">
    
        <button type="submit" [disabled]="!loginForm.valid" >Iniciar Sesión</button>
    </form>
    <br>
    <p class="register-text">
        ¿No estás registrado? <a [routerLink]="['/register']">Create una Cuenta</a>
    </p>

</div>