<p-dialog header="Buscar Turno" [modal]="true" [(visible)]="showModal" [style]="{ width: '25rem' }">
    <div class="w-full flex items-center justify-content-center ">
        <div class="register-container p-6 rounded-lg shadow-lg w-full mt-5">
            <div class="text-center mb-5">


            </div>
            <form [formGroup]="bookTurnForm" class="space-y-5">
                <p-floatlabel class="flex items-center gap-4 mt-5">
                    <label for="initDate" class="font-semibold w-24">Init Date</label>
                    <input pInputText id="initDate" formControlName="initDate" type="date" class="flex-auto" />
                </p-floatlabel>

                <p-floatlabel class="flex items-center gap-4 mt-5">
                    <label for="endDate" class="font-semibold w-24">End Date</label>
                    <input pInputText id="endDate" formControlName="endDate" type="date" class="flex-auto" />
                </p-floatlabel>

                <p-floatlabel class="flex items-center gap-4 mt-5">
                    <label for="initHour" class="font-semibold w-24">Init Hour</label>
                    <input pInputText id="initHour" formControlName="initHour" type="time" class="flex-auto" />
                </p-floatlabel>

                <p-floatlabel class="flex items-center gap-4 mt-5">
                    <label for="endHour" class="font-semibold w-24">End Hour</label>
                    <input pInputText id="endHour" formControlName="endHour" type="time" class="flex-auto" />
                </p-floatlabel>

                <p-float-label class="flex items-center gap-4 mt-5">
                    <label for="groupName" class="font-semibold w-24">User Name</label>
                    <p-dropdown 
                                [options]="users" 
                                formControlName="userName" 
                                optionLabel="name"
                                placeholder="Selecciona un user">
                    </p-dropdown>

                </p-float-label>

                <p-float-label class="flex items-center gap-4 mt-5">
                    <label for="groupName" class="font-semibold w-24">Group Name</label>
                    <p-dropdown 
                                [options]="groups" 
                                formControlName="groupName" 
                                optionLabel="name"
                                placeholder="Selecciona un grupo">
                    </p-dropdown>
                </p-float-label>



                <div class="flex justify-end gap-2 mt-5">
                    <p-button label="Book turn" (click)="onBookTurn()"></p-button>
                </div>
            </form>
        </div>
        <div class="form-actions">
            <p-button label="Cancelar" styleClass="p-button-text" (click)="hideDialog()"></p-button>
            <p-button label="Buscar" icon="pi pi-search" (click)="onBookTurn()"></p-button>
        </div>
    </form>
</p-dialog>